<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-hello" 
	version="1.3.1"
>	
	<name>Hello</name>
	<author></author>

	<js-module src="www/hello.js" name="Hello">
		<clobbers target="hello" />
	</js-module>
	
	<platform name="ios">
		<source-file src="src/ios/Hello.swift" />
		<!--<dependency id="cordova-plugin-add-swift-support" version="*" />-->
		<dependency id="cordova-datadog-crashlytics" version="*" />
		<config-file target="config.xml" parent="/*">
			<feature name="Hello">
				<param name="ios-package" value="Hello" />
			</feature>
		</config-file>
	</platform>
</plugin>
