<?xml version="1.0" encoding="utf-8"?>
<plugin 
	xmlns="http://www.phonegap.com/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	id="cordova-plugin-datadog" 
	version="1.3.1"
>	
	<name>Datadog</name>
	<author></author>

	<js-module src="www/datadog.js" name="datadog">
		<clobbers target="datadog" />
	</js-module>
	
	<platform name="ios">
		<!--<dependency id="cordova-plugin-add-swift-support" version="*" />-->
		  <podspec>
            <config>
            </config>
            <pods use-frameworks="true">
                <pod name="DatadogSessionReplay"  />
                <pod name="DatadogCore"  />
                <pod name="DatadogRUM"  />
                <pod name="DatadogCrashReporting"  />
                 <pod name="DatadogLogs"  />
            </pods>
        </podspec>
        
       		<source-file src="src/ios/Datadog.swift" />

		<config-file target="config.xml" parent="/*">
			 <feature name="Datadog">
                		<param name="ios-package" value="Datadog"/>
				<param name="onload" value="true"/>
         		 </feature>
		</config-file>
	</platform>
</plugin>
